/home/.config/*

!/home/.config/awesome/
/home/.config/awesome/themes/*
!/home/.config/awesome/themes/my

!/home/.config/bat/

!/home/.config/flake8

!/home/.config/git

!/home/.config/latexmk

!/home/.config/mimeapps.list

!/home/.config/mycli

!/home/.config/npm/

!/home/.config/nvim/

!/home/.config/pypoetry/
/home/.config/pypoetry/auth.toml

!/home/.config/tmux

!/home/.config/tym/
