[alias]
  s = status
  a = add
  aa = add -A
  c = commit -m
  ca = commit --amend
  l = log
  sl = shortlog
  d = diff
  b = branch
  ba = branch -a
  co = checkout
  f = fetch --prune --all
  ds = diff --staged
  ap = add -p
[user]
  name = iTakeshi
  email = takeshi.ito.doraemon@gmail.com
[color]
  ui = true
[push]
  default = simple
[core]
  editor = nvim
  pager = less
  excludesfile = /home/itakeshi/.gitignore_global
